body {
  background-color: black;
  text-align: center;
  font-family: Veranda;
  color: white;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 21px;
  color: grey;
}

.link {
  font-size: 16px;
  color: aquamarine;
}

.footer {
  text-align: right;
}
